<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <title> Previous Requests </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">
        <h1>Previous Requests</h1>
        <a href="{{ url_for('client_create_case') }}">New Case +</a>

        <!-- Table -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        {% for column in header %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases %}
                    <tr>
                        <td>{{ case.title }}</td>
                        <td>{{ case.status._name_ }}</td>
                        <td>{{ case.client.username }}</td>
                        <td>{{ case.case_type._name_ }}</td>
                        <td>{{ case.date_posted }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Logout Button -->
        <a href="{{ url_for('log_out') }}">Logout</a>
    </div>

</body>

</html>