<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>LawReach</title>
</head>

<body>

    <div class="centered">
        <div class="site-title">
            LawReach
        </div>
        <div class="loginButton">
            <h1><a href="{{ url_for('log_in') }}">Login</a></h1>
        </div>
        <div class="signupButton">
            <h1><a href="{{ url_for('sign_up') }}">Signup</a></h1>
        </div>
    </div>

</body>

</html>