<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <title>JusticeConnect Form</title>
</head>

<body>
    <div class="form-container">
        <h1>Lawyer Registration</h1>
        {% set skip_fields = ["submit", "csrf_token"] %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                {% for field in form %}
                {% if field.name not in skip_fields %}
                <label>{{ field.label }}</label>
                {{ field }}
                {% endif %}
                {% endfor %}
            </fieldset>
            {{ form.submit(class="btn") }}
        </form>
    </div>
</body>

</html>