<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <title>JusticeConnect Signup</title>
</head>

<body>
    <!-- Signup Container -->

    <div class="sign-up-container">
        <h1>Sign Up</h1>
        <a href="{{ url_for('client_sign_up') }}"> I am a Client </a>
        <a href="{{ url_for('lawyer_sign_up') }}"> I am a Lawyer </a>
    </div>
</body>

</html>